<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Express Tutorial 1</title>
</head>
<body>
    <h1>Welcome on the First Express Tutorial for classroom mates!!</h1>

    <p>Set the name of your famous hero and a quote he once sayed :</p>

    <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="quote" name="quote">
        <button type="submit">Submit</button>
    </form>

</body>
</html>